:root {
  /* ### Primary ### */

  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);

  /* ### Neutral ### */

  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --color-bg-header: hsl(0, 0%, 100%);
  --color-bg-home: hsl(256, 26%, 20%);
  --color-title-home: hsl(0, 0%, 100%);
  --color-desc-home: hsl(0, 0%, 100%);
  --color-link-home: hsl(0, 0%, 100%);
  --color-title-about: hsl(270, 9%, 17%);
  --color-title-info-about-area: hsl(270, 9%, 17%);
  --color-desc-info-about-area: hsl(273, 4%, 51%);
  --color-bg-more: hsl(256, 26%, 20%);
  --color-title-more: hsl(0, 0%, 100%);
}
